# database credentials
DB_URL=<url>
DB_USERNAME=<username>
DB_PASSWORD=<password>

# jwt credentials
JWT_SECRET=<secret_token>

# email credentials
GMAIL_USERNAME= <username>
GMAIL_APP_PASSWORD= <password>

# redis url 
REDIS_URL=<redis_url>

# cloudinary credentials
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret